{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center mb-3 mt-3">Accueil</h1>
    <div class="d-flex justify-content-center">
        <img class="pikachu" src="{{ asset('assets/img/pikachu.gif') }}" alt="pikachu">
    </div>
{% endblock %}
