.logo {
    width: 40px;
}

.pikachu {
    border-radius: 25px;
    border: 1px solid #146c43;
}

body {
    background-color: paleturquoise;
}

#img {
    margin-top: 10px;
    height: 8vh;
}

#img2 {
    margin-left: 10%;
}

#type1 {
    background-color: #78C850;
}

#type2 {
    background-color: #A040A0;
}

#pokemon_card {
    background: linear-gradient(135deg, #78C850, #A040A0);
}

.cardDisplay{
    width: 20vw;
    height: auto;
    border: 5px solid #93c5fd;
    margin: 20px;
    padding: 10px;
    border-radius: 25px;
}

.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.attack{
    background-color: ivory;
    width: 45%;
}